{% extends 'backend/base.html' %}

{% block title %} Product List {% endblock %}

{% block content %}

    <div class="d-sm-flex align-items-center justify-content-between mb-4">
        <h1 class="h3 mb-0 text-gray-800">Products</h1>
    </div>


    <div class="card">
        <form action="" method="get" class="card-header">
            <div class="form-row justify-content-between">
                <div class="col-md-2">
                    <input type="text" name="title" placeholder="Product Title" class="form-control">
                </div>
                <div class="col-md-2">
                    <select name="variant" id="" class="form-control">
                        <option selected disabled>--Select A Variant--</option>
                        {% for title, variants_list in variants.items %}
                            <optgroup label="{{ title }}">
                                {% for variant in variants_list %}
                                    <option value="{{ variant.variant_title }}">{{ variant.variant_title }}</option>
                                {% endfor %}
                            </optgroup>
                        {% endfor %}
                    </select>
                </div>

                <div class="col-md-3">
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text">Price Range</span>
                        </div>
                        <input type="text" name="price_from" aria-label="First name" placeholder="From"
                               class="form-control">
                        <input type="text" name="price_to" aria-label="Last name" placeholder="To" class="form-control">
                    </div>
                </div>
                <div class="col-md-2">
                    <input type="date" name="date" placeholder="Date" class="form-control">
                </div>
                <div class="col-md-1">
                    <button type="submit" class="btn btn-primary float-right"><i class="fa fa-search"></i></button>
                </div>
            </div>
        </form>

        <div class="card-body">
            <div class="table-response">
                <table class="table">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Title</th>
                        <th>Description</th>
                        <th>Variant</th>
                        <th width="150px">Action</th>
                    </tr>
                    </thead>

                    <tbody>
                    {% for product in products %}
                        <tr>
                            <td>{{ forloop.counter }}</td>
                            <td>{{ product.title }} <br> Created at : {{ product.created_at|timesince }}</td>
                            <td>{{ product.description|safe }}</td>
                            <td>
                                <dl class="row mb-0" style="height: 80px; overflow: hidden"
                                    id="variant_{{ product.id }}">
                                    {% for product_variant in product.combined_variants %}
                                        <dt class="col-sm-3 pb-0">
                                            {{ product_variant.variant_title }}
                                            {% for variant in product_variant.attributes %}
                                                {{ variant.variant_title }}/
                                            {% endfor %}
                                        </dt>
                                        <dd class="col-sm-9">
                                            <dl class="row mb-0">
                                                <dd class="col-sm-4 pb-0">Price
                                                    : {{ product_variant.details.price|floatformat:02 }}</dd>
                                                <dd class="col-sm-8 pb-0">InStock :
                                                    {{ product_variant.details.stock|floatformat:02 }}</dd>
                                            </dl>
                                        </dd>
                                    {% endfor %}
                                </dl>
                                <button onclick="$('#variant_{{ product.id }}').toggleClass('h-auto')"
                                        class="btn btn-sm btn-link">Show
                                    more
                                </button>
                            </td>
                            <td>
                                <div class="btn-group btn-group-sm">
                                    <a href="{% url 'product:edit.product' product.id %}" class="btn btn-success">Edit</a>
                                </div>
                            </td>
                        </tr>
                    {% endfor %}
                    </tbody>

                </table>
            </div>

        </div>

        <div class="card-footer">
            <div class="row justify-content-between">
                <div class="col-md-6">
                    <p>Showing {{ products.start_index }} to {{ products.end_index }} out
                        of {{ products.paginator.count }}</p>
                </div>
                <div class="col-md-2">
                    <nav aria-label="...">
                        <ul class="pagination pagination-sm">
                            {% if products.has_previous %}
                                <li class="page-item"><a class="page-link" href="?page=1">&laquo;</a></li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
                            {% endif %}
                            {% for page in products.paginator.page_range %}
                                {% if page == products.number %}
                                    <li class="page-item active"><span class="page-link">{{ page }}</span></li>
                                {% else %}
                                    <li class="page-item"><a class="page-link" href="?page={{ page }}">{{ page }}</a>
                                    </li>
                                {% endif %}
                            {% endfor %}
                            {% if products.has_next %}
                                <li class="page-item"><a class="page-link"
                                                         href="?page={{ products.paginator.num_pages }}">&raquo;</a>
                                </li>
                            {% else %}
                                <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
                            {% endif %}
                        </ul>
                    </nav>
                </div>
            </div>
        </div>
    </div>
{% endblock %}